.DS_Store
node_modules
/dist

public/local.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test and coverage files
cypress/screenshots/
coverage
.nyc_output

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
xmpp-web.code-workspace

# Local certificates
certs/*
!certs/.gitkeep
stats.html
