@charset "utf-8";

@import "~bulma/sass/utilities/_all";

$primary: #2da192;
$primary-light: lighten($primary, 10);
$primary-invert: findColorInvert($primary);
$shade-1: #3d444b;
$shade-1-invert: findColorInvert($shade-1);
$shade-2: #33393f;
$shade-2-invert: findColorInvert($shade-2);
$shade-3: #282e33;
$shade-3-invert: findColorInvert($shade-3);
$shade-4: #18191d;
$shade-4-invert: findColorInvert($shade-4);

$text: $shade-3-invert;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);
$scheme-main: $shade-4;
$scheme-main-bis: $shade-2;
$link: $primary;
$border-hover: $black-bis;
$border: $black-ter;
$label-color: $black-ter;
$input-background-color: $shade-1;

$link-focus: $black;

$border-light: $black;
$navbar-divider-background-color: $shade-3;
$navbar-dropdown-item-hover-background-color: $shade-1;
$navbar-dropdown-item-hover-color: $shade-1-invert;

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$menu-item-active-background-color: $primary;
$menu-item-hover-background-color: $shade-1;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "shade-1": ($shade-1, $shade-1-invert),
    "shade-2": ($shade-2, $shade-2-invert),
    "shade-3": ($shade-3, $shade-3-invert),
    "shade-4": ($shade-4, $shade-4-invert),
);

$navbar-item-img-max-height: unset;

$indexSizes: (
	1,
	2,
	3,
	4,
	5,
	6,
  7
);
$positions: (
	"top",
	"left",
	"bottom",
	"right"
);
$bulmaSizes: (
	$size-1,
	$size-2,
	$size-3,
	$size-4,
	$size-5,
	$size-6,
	$size-7
);
$i: 1;
@each $size in $indexSizes {
	$sizee: nth($bulmaSizes, $i);
	$i: $i+1;
	.has-margin-#{$size} {
		margin: $sizee !important;
	}
	.has-negative-margin-#{$size} {
		margin: -$sizee !important;
	}
	.has-padding-#{$size} {
		padding: $sizee !important;
	}
	@each $position in $positions {
		.has-margin-#{$position}-#{$size} {
			margin-#{$position}: $sizee !important;
		}
		.has-padding-#{$position}-#{$size} {
			padding-#{$position}: $sizee !important;
		}
		.has-negative-margin-#{$position}-#{$size} {
			margin-#{$position}: -$sizee !important;
		}
	}
}

@each $position in $positions {
	.has-border-#{$position}-shade-3 {
		border-#{$position}: 2px solid $shade-3 !important;
	}
}

@import "~bulma";
@import "~buefy/src/scss/buefy";

html, body {
	overflow-y: hidden;
}
.is-growing {
  flex-grow: 1;
}

.has-no-border {
	border: none;
}
.has-no-border:focus {
	border: none;
}

.has-placeholder-shade-1::placeholder {
	color: $shade-1;
}

.modal-close::before,
.modal-close::after {
	background-color: $white;
}

.is-guest .main-container {
  height: 100vh;
  align-items: stretch;
  display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.modal-card-head, .modal-card-foot {
	background-color: $shade-3;
}

.table td {
	vertical-align: middle;
}

.is-width-min-400 {
	min-width: 400px;
}

.is-select-all {
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: text;
  user-select: all;
}
