@charset "utf-8";

@import "/node_modules/bulma/sass/utilities/_all";

$primary: #2da192;
$primary-light: lighten($primary, 10);
$primary-invert: findColorInvert($primary);
$warning-light: lighten($warning, 10);
$shade-1: #3d444b;
$shade-1-invert: findColorInvert($shade-1);
$shade-2: #33393f;
$shade-2-invert: findColorInvert($shade-2);
$shade-3: #282e33;
$shade-3-invert: findColorInvert($shade-3);
$shade-4: #18191d;
$shade-4-invert: findColorInvert($shade-4);

$text: $shade-3-invert;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);
$scheme-main: $shade-4;
$scheme-main-bis: $shade-2;
$link: $primary;
$border-hover: $black-bis;
$border: $black-ter;
$label-color: $black-ter;
$input-background-color: $shade-1;
$code-background: $shade-3;
$pre-background: $shade-2;
$pre: $text;
$code: $warning-light;
$pre-padding: 1rem;
code,
pre {
	border-radius: 6px;
}

$link-focus: $black;
$link-hover: $primary-light;

$border-light: $black;
$navbar-divider-background-color: $shade-3;
$navbar-dropdown-item-hover-background-color: $shade-1;
$navbar-dropdown-item-hover-color: $shade-1-invert;

$dropdown-divider-background-color: $shade-3;
$dropdown-item-hover-background-color: $shade-1;
$dropdown-item-hover-color: $shade-1-invert;
$dropdown-item-active-background-color: $shade-2;

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$menu-item-active-background-color: $primary;
$menu-item-hover-background-color: $shade-1;

$menu-list-border-left: 1px solid $shade-1;

$menu-label-color: darken($text, 20);

$file-cta-background-color: transparent;

$colors: (
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $dark-invert),
	"primary": ($primary, $primary-invert),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert),
	"shade-1": ($shade-1, $shade-1-invert),
	"shade-2": ($shade-2, $shade-2-invert),
	"shade-3": ($shade-3, $shade-3-invert),
	"shade-4": ($shade-4, $shade-4-invert),
);

$navbar-item-img-max-height: unset;

$positions: (
	"top",
	"left",
	"bottom",
	"right"
);

@each $position in $positions {
	.has-border-#{$position}-shade-3 {
		border-#{$position}: 2px solid $shade-3 !important;
	}
}

$loading-background: rgba(24, 25, 29, 0.2);
$loading-background-legacy:rgba(24, 25, 29, 0.2);

@import "/node_modules/bulma/bulma.sass";
@import '/node_modules/@oruga-ui/theme-bulma/dist/scss/bulma';
@import "/node_modules/@creativebulma/bulma-divider";

html,
body,
.is-full-height {
	height: 100%;
	overflow-y: hidden;
}

.is-full-height-scrollable {
	height: 100%;
	overflow-y: auto;
}

.has-no-border {
	border: none;
}
.has-no-border:focus {
	border: none;
}

.has-placeholder-shade-1::placeholder {
	color: $shade-1;
}

.modal-close::before,
.modal-close::after {
	background-color: $white;
}

.modal-card-head, .modal-card-foot {
	background-color: $shade-3;
}

.dialog .modal-card {
	max-width: 460px;
	min-width: 320px;
	width: auto;
}

.table td {
	vertical-align: middle;
}

.is-width-min-400 {
	min-width: 400px;
}

.is-primary-ghost {
	background-color: transparent;
	color: $primary;
	&:hover, &:focus {
		background-color: transparent;
		color:$primary-light;
	}
}

.is-warning-ghost {
	background-color: transparent;
	color: $warning;
	&:hover, &:focus {
		color:$warning-light;
	}
}

.menu-list li {
	margin: 2px 0;
}

.is-select-all {
	user-select: text;
	-webkit-user-select: text;
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: text;
	user-select: all;
}

.has-no-wrap {
	white-space: nowrap;
}

.messages-container {
	overflow-y: auto;
	scroll-behavior: smooth;
	flex-grow: 1;
}
.toolbar {
	position: relative;
	padding: 0.5em 0.3em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.message-text {
	white-space: pre-wrap;
	border-radius: 3px 9px 9px 9px !important;
	padding: 0.25em 0.75em;
	margin: 0 0.75em;
}
.messages-list-enter-active {
  transition: opacity 0.3s ease-out;
}
.messages-list-enter-from {
  opacity: 0;
}
.is-flex-direction-row-reverse .message-text {
	border-radius: 9px 3px 9px 9px !important;
}
.is-msg-moderated {
	opacity: 30%;
}
.sendbox textarea {
	resize: none;
	border: none;
}
.sendbox .thumbnail-container {
	position: absolute;
	top: 1em;
	left: 1em;
}
.sendbox .thumbnail {
	max-height: 2.5em;
}
.sendbox .delete {
	margin-left: -7px;
	margin-top: -13px;
}

.emojiPicker .b-tabs,
.emojiPicker .tab-content {
	height: 100%;
	overflow-y: hidden;
	padding: 0;
}
.emojiPicker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: $shade-4;
}
.emoji {
	width: 2.5rem;
	text-align: center;
}
